<main class="container mx-auto p-4 max-w-2xl">
  <h1 class="text-3xl font-bold mb-2 text-center">Major League Soccer iCalendar</h1>
  <hr class="mt-6" />
  <div class="mt-4">
    <p>Each Major League Soccer team's fixture schedule for the current season.</p>
    <br/>
    <p>Find your favorite team in the table below. Copy the iCalendar url to your clipboard. Paste the iCalendar url from your clipboard into your calendar's subscription field.</p>
    <br/>
    <p><a class="text-blue-500" href="https://github.com/jbaranski/majorleaguesoccer-ical" target="_blank">Calendar generator source code</a> is free and open source :)</p>
    <table class="w-full mt-4 border-double border-4">
      <thead>
        <tr class="border-double border-4">
          <th class="border-double border-4 px-0 py-0">Team</th>
          <th class="border-double border-4 px-0 py-0">iCalendar URL</th>
        </tr>
      </thead>
      <tbody>
        @for (team of teams; track team) {
          <tr class="border-double border-4 text-center">
            <td class="px-0 py-0 border-double border-4">{{ team }}</td>
            <td class="px-0 py-0 border-double border-4">
              https://raw.githubusercontent.com/jbaranski/majorleaguesoccer-ical/refs/heads/main/calendars/{{
                team.replaceAll('.', '').replaceAll(' ', '').toLowerCase()
              }}.ics
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <hr class="mt-4" />
  <p class="mt-4 text-xs font-light text-gray-600 text-center">
    Copyright 2024 Jeff Software | admin&commat;jeffsoftware.com |
    <a class="text-blue-500" href="https://x.com/jeffsoftware" target="_blank">&commat;jeffsoftware</a>
  </p>
</main>
