<main class="container mx-auto p-4 max-w-2xl">
  <h1 class="text-3xl font-bold mb-2 text-center">Major League Soccer iCalendar</h1>
  <hr class="mt-6" />
  <p class="text-sm text-gray-600 text-center mb-2 mt-4">Last updated: {{ lastUpdated | date: 'MM/dd/yyyy' }}</p>
  <div class="mt-4">
    <p>Each Major League Soccer team's fixture schedule for the current 2025 and next 2026 season.</p>
    <br />
    <p>
      Find your favorite team in the table below. Copy the iCalendar url to your clipboard. Paste the iCalendar url from
      your clipboard into your calendar's subscription field.
    </p>
    <br />
    <p>
      When you subscribe to a calendar, it will auto update when team fixtures are added or modified. We check for and
      publish any fixture changes twice a day.
    </p>
    <br />
    <p class="mb-6">
      <a class="text-blue-500" href="https://github.com/jbaranski/majorleaguesoccer-ical" target="_blank"
        >Calendar generator source code</a
      >
      is free and open source :)
    </p>
    @for (team of teams; track team.name; let i = $index) {
      <div class="flex flex-row border-2 border-gray-200 mt-4 mb-4">
        <div class="basis-1/3 border-2 border-gray-200">
          <p class="px-3 py-2 text-sm">
            <b>{{ team.name }}</b>
          </p>
          <p class="px-3 pb-2">
            <button
              (click)="onCopyToClipboard($event, team.url, i)"
              class="bg-gray-100 px-1 text-sm border border-gray-300 rounded-md"
              type="button"
            >
              {{ copyToClipboardText()[i] }}
            </button>
          </p>
        </div>
        <div class="basis-2/3 border-2 border-gray-200">
          <textarea
            rows="2"
            class="bg-purple-100 w-full h-full px-3 py-2 focus:outline-none focus:ring-2 cursor-auto text-sm text-pretty"
            type="text"
            readonly
            >{{ team.url }}</textarea
          >
        </div>
      </div>
    }
    <p class="mt-6 text-sm">
      <strong>NOTE:</strong> If you're interested in home or away game specific calendars, append <code class="bg-gray-200 px-1 rounded">_home</code> or <code class="bg-gray-200 px-1 rounded">_away</code> to the ics file name in the url. Example:
    </p>
    <div class="flex flex-row border-2 border-gray-200 mt-4 mb-4">
      <div class="basis-1/3 border-2 border-gray-200">
        <p class="px-3 py-2 text-sm">
          <b>D.C. United Home</b>
        </p>
        <p class="px-3 pb-2">
        </p>
      </div>
      <div class="basis-2/3 border-2 border-gray-200">
        <textarea
          rows="2"
          class="bg-purple-100 w-full h-full px-3 py-2 focus:outline-none focus:ring-2 cursor-auto text-sm text-pretty"
          type="text"
          readonly
          >https://raw.githubusercontent.com/jbaranski/majorleaguesoccer-ical/refs/heads/main/calendars/dcunited_home.ics</textarea
        >
      </div>
    </div>
    <div class="flex flex-row border-2 border-gray-200 mt-4 mb-4">
      <div class="basis-1/3 border-2 border-gray-200">
        <p class="px-3 py-2 text-sm">
          <b>D.C. United Away</b>
        </p>
        <p class="px-3 pb-2">
        </p>
      </div>
      <div class="basis-2/3 border-2 border-gray-200">
        <textarea
          rows="2"
          class="bg-purple-100 w-full h-full px-3 py-2 focus:outline-none focus:ring-2 cursor-auto text-sm text-pretty"
          type="text"
          readonly
          >https://raw.githubusercontent.com/jbaranski/majorleaguesoccer-ical/refs/heads/main/calendars/dcunited_away.ics</textarea
        >
      </div>
    </div>
  </div>
  <hr class="mt-4" />
  <p class="mt-4 text-xs font-light text-gray-600 text-center">
    Copyright 2024 Jeff Software | admin&commat;jeffsoftware.com |
    <a class="text-blue-500" href="https://x.com/jeffsoftware" target="_blank">&commat;jeffsoftware</a>
  </p>
</main>
