name: generate_calendar

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch: # Allow manual triggering

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
      - name: Install Python dependencies
        run: pip install -r requirements.txt
      - name: Generate calendar files
        env:
          SEASONS: ${{ vars.SEASONS }}
          LEAGUE: ${{ vars.LEAGUE }}
          OUTPUT_ROOT: ${{ github.workspace }}
          NUM_TEAMS_EXPECTED: ${{ vars.NUM_TEAMS_EXPECTED }}
          EXCLUDED_COMPETITIONS: ${{ vars.EXCLUDED_COMPETITIONS }}
        run: |-
          cd $GITHUB_WORKSPACE
          python -m src.main
      - name: Commit calendar files if changed
        run: |-
          git diff
          git config --global user.email "actions@users.noreply.github.com"
          git config --global user.name "JEFF-bot"
          git add calendars/
          if git commit -m "Updated calendars"; then
            TIMESTAMP=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
            sed -i "s/lastUpdated = '.*'/lastUpdated = '$TIMESTAMP'/" client/src/app/app.component.ts
            git add client/src/app/app.component.ts
            git commit --amend --no-edit
            git push
          else
            echo "No changes to commit"
          fi
